body {
    background-color: azure;
}
h1 {
    color: forestgreen;
    font-family:'Calibri';
    font-style: normal;
    font-weight: bold;
}
h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
}
pre {
    color: navy;
    font-family: monospace;
    font-style: inherit;
    font-size: large;
    border: 2px solid rgba(12, 16, 17, 0.878);
    text-align: justify;
    padding: 10px;
    margin: 20px;
}
p {
    color: black;
    font-family: monospace;
    font-style: unset;
    text-align: justify;
    text-decoration: wavy;
    font-size: large;
}
img {
    width:fit-content;
    height:fit-content;
    float: left;
}
